<a href="https://colab.research.google.com/github/Yosingh1/ypstech/blob/main/Variables_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![2.png]()

#Variables:
  Variables are used to store data values.They are like containers that
  hold information, and they allow you to reference and manipulate that information throughout your program.
###Here are some key points about variables in Python:

1. **Variable Naming:**

    Variable names can contain letters (a-z, A-Z), digits (0-9), and
    underscores (_), but they cannot start with a digit.
    Variable names are case-sensitive, so myVar and myvar are different variables.

    It's a good practice to use descriptive names for variables to make your code more readable and understandable.

2. **Variable Assignment:**

    Variables are assigned values using the assignment operator =. For example: x = 10.

    Python is dynamically typed, which means you don't need to declare the data type of a variable before assigning a value to it. ex- a=10 , here python already know that 10 is integer.

3. **Data Types:**

    Variables in Python can hold values of different data types, such as integers, floats, strings, lists, tuples, dictionaries, etc.

    You can assign a value of one type to a variable and then later assign a value of a different type to the same variable.

4. **Variable Scope:**

    The scope of a variable refers to the region of the code where the variable is accessible.

    Variables defined inside a function are local to that function and cannot be accessed from outside the function.

    Variables defined outside of any function, at the top level of a script or module, are called global variables and can be accessed from anywhere in the code.

5. **Variable Reassignment:**

    You can change the value of a variable by assigning a new value to it. For example: x = 10 followed by x = 20.

    Python allows multiple assignments in a single line, like x = y = z = 0, which assigns the value 0 to all three variables.

6. **Memory Management:**

    Python handles memory management automatically, including allocating memory for variables and deallocating memory when variables are no longer needed.

#Create Variable

We can give any name to variable what comes in mind but variable name should not start with digits

In [2]:
a= 10  # here a is my variable and I have assigned int datatype 10

In [5]:
print(a)

20

In [3]:
#Now can manuplate the value of my variable as well

a= 20

In [4]:
print(a) # hence I can change the value at any point of time

20

In [6]:
#python is case senstive hence a and A is a different variable

a= 20
print(A)

NameError: name 'A' is not defined

In [10]:
#Python allows multiple assignments in a single line, like x = y = z = 0

a=A=20

In [9]:
print(a,A)

20 20

In [11]:
##we can assign any data type to variable

a= 10 #int

In [20]:
#String datatype
s="string" #with double qoutes

In [28]:
type(s)

str

In [21]:
print(s)

string

In [22]:
s1= 'python' #with signle quotes

In [23]:
print(s1)

python

In [30]:
type(s1)

str

In [24]:
s1 = python # we can not assign string datatype with quotes, it will through error

NameError: name 'python' is not defined

In [25]:
c= True

In [26]:
type(c) # hence we can assign boolean data type to our variable

bool

In [31]:
d= False #We can assign boolean data type to our variable

#Note- F should be caps else it will not reconige as boolean

In [32]:
type(d)

bool

In [33]:
f= false # we can see it through the error as "F" is not caps

NameError: name 'false' is not defined

In [34]:
#complex data type - complex data type is combination of real number and imagnary number,
#here 1 is real and 2 is imagnary as it is associated with j.

com= 1+2j

type(com)

complex

In [35]:
#List data type

lst = [1,2,3,4]

In [36]:
type(lst)

list

In [37]:
#tuple data type

tup= (1,2,3,4)

In [38]:
type(tup)

tuple

In [40]:
#dict data type

dic= {"key":1,"value":2}
type(dic)

dict

In [41]:
12data= [1,2,3,4] # hence variable can not start with digit

SyntaxError: invalid decimal literal (<ipython-input-41-9d1efc8c342c>, line 1)

In [42]:
data_str= "my name is YPS" # (_) can be used

In [43]:
data-str= "my name is YPS" #(-) can not be used

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-43-b323f3e08d1f>, line 1)

In [44]:
data&str="my name is YPS" # accept (_) no other special char can be used.

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-44-900cf6890d62>, line 1)